

h1 {
    text-align: left;
}

h2 {
    text-align: left;
}


body {
    background-color: #f0f0f0;
}

.appointment_form{
    text-align: left;
}

.user-container{
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.admin-container{
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}